# API
fastapi==0.136.1
uvicorn[standard]
pydantic==2.13.3
python-multipart
starlette

# Storage

boto3==1.42.38
botocore==1.42.38

# Satellite data

pystac_client==0.9.0
stackstac==0.5.1
rasterio
rioxarray
xarray
dask

# ML
#torch==2.9.1
#torchvision
terratorch==1.1.1
torchgeo==0.7.1

# Geo
geopandas
shapely
pyproj

# Image / data
numpy>=1.24,<2.0 
Pillow==12.2.0
scikit-image

# Utils
httpx==0.28.1
python-dotenv==1.2.2
tqdm==4.67.1
gradio==6.14.0












